.idea/*
.vs/*
packages/*
*.vsp
*.vspx
*.psess

Stardust-Library/bin/*
Stardust-Library/obj/*
Stardust-Library/packages/*

Stardust-Library-Tests/bin/*
Stardust-Library-Tests/obj/*
Stardust-Library-Tests/packages/*

Stardust-Library-Sample/bin/*
Stardust-Library-Sample/obj/*
Stardust-Library-Sample/packages/*
