.idea/*
.vs/*
packages/*
*.vsp
*.vspx
*.psess

Stardust-Library.Desktop/bin/*
Stardust-Library.Desktop/obj/*
Stardust-Library.Desktop/packages/*

Stardust-Library-Tests/bin/*
Stardust-Library-Tests/obj/*
Stardust-Library-Tests/packages/*

Stardust-Library-Sample.Desktop/bin/*
Stardust-Library-Sample.Desktop/obj/*
Stardust-Library-Sample.Desktop/packages/*
